In [36]:
import pandas as pd

In [37]:
df=pd.read_csv('train.csv')

In [38]:
df

             image_id  label
0      1000015157.jpg      0
1      1000201771.jpg      3
2       100042118.jpg      1
3      1000723321.jpg      1
4      1000812911.jpg      3
...               ...    ...
21392   999068805.jpg      3
21393   999329392.jpg      3
21394   999474432.jpg      1
21395   999616605.jpg      4
21396   999998473.jpg      4

[21397 rows x 2 columns]

In [ ]:
label ={0:'CBB', 1:'CBSD', 2:'CGM', 3:'CMD', 4:'Healthy'}

In [39]:
df['image_path'] = 'gs://srivatsan-project-vcm/train_images/' + df['image_id']

In [40]:
df

,image_id,label,image_path
0,1000015157.jpg,0,gs://srivatsan-project-vcm/train_images/100001...
1,1000201771.jpg,3,gs://srivatsan-project-vcm/train_images/100020...
2,100042118.jpg,1,gs://srivatsan-project-vcm/train_images/100042...
3,1000723321.jpg,1,gs://srivatsan-project-vcm/train_images/100072...
4,1000812911.jpg,3,gs://srivatsan-project-vcm/train_images/100081...
...,...,...,...
21392,999068805.jpg,3,gs://srivatsan-project-vcm/train_images/999068...
21393,999329392.jpg,3,gs://srivatsan-project-vcm/train_images/999329...
21394,999474432.jpg,1,gs://srivatsan-project-vcm/train_images/999474...
21395,999616605.jpg,4,gs://srivatsan-project-vcm/train_images/999616...
21396,999998473.jpg,4,gs://srivatsan-project-vcm/train_images/999998...

In [41]:
df=df.replace({'label':label})

In [42]:
df

,image_id,label,image_path
0,1000015157.jpg,CBB,gs://srivatsan-project-vcm/train_images/100001...
1,1000201771.jpg,CMD,gs://srivatsan-project-vcm/train_images/100020...
2,100042118.jpg,CBSD,gs://srivatsan-project-vcm/train_images/100042...
3,1000723321.jpg,CBSD,gs://srivatsan-project-vcm/train_images/100072...
4,1000812911.jpg,CMD,gs://srivatsan-project-vcm/train_images/100081...
...,...,...,...
21392,999068805.jpg,CMD,gs://srivatsan-project-vcm/train_images/999068...
21393,999329392.jpg,CMD,gs://srivatsan-project-vcm/train_images/999329...
21394,999474432.jpg,CBSD,gs://srivatsan-project-vcm/train_images/999474...
21395,999616605.jpg,Healthy,gs://srivatsan-project-vcm/train_images/999616...
21396,999998473.jpg,Healthy,gs://srivatsan-project-vcm/train_images/999998...

In [43]:
df['label'].value_counts()

CMD        13158
Healthy     2577
CGM         2386
CBSD        2189
CBB         1087
Name: label, dtype: int64

In [44]:
df

,image_id,label,image_path
0,1000015157.jpg,CBB,gs://srivatsan-project-vcm/train_images/100001...
1,1000201771.jpg,CMD,gs://srivatsan-project-vcm/train_images/100020...
2,100042118.jpg,CBSD,gs://srivatsan-project-vcm/train_images/100042...
3,1000723321.jpg,CBSD,gs://srivatsan-project-vcm/train_images/100072...
4,1000812911.jpg,CMD,gs://srivatsan-project-vcm/train_images/100081...
...,...,...,...
21392,999068805.jpg,CMD,gs://srivatsan-project-vcm/train_images/999068...
21393,999329392.jpg,CMD,gs://srivatsan-project-vcm/train_images/999329...
21394,999474432.jpg,CBSD,gs://srivatsan-project-vcm/train_images/999474...
21395,999616605.jpg,Healthy,gs://srivatsan-project-vcm/train_images/999616...
21396,999998473.jpg,Healthy,gs://srivatsan-project-vcm/train_images/999998...

In [45]:
df[['image_path','label']].to_csv('labels.csv', index=False, header=False)

In [46]:
!gsutil cp labels.csv gs://srivatsan-project-vcm/

Copying file://labels.csv [Content-Type=text/csv]...
/ [1 files][  1.2 MiB/  1.2 MiB]
Operation completed over 1 objects/1.2 MiB.

In [ ]:
!curl -X GET -H "Authorization: Bearer "$(gcloud auth application-default print-access-token) https://automl.googleapis.com/v1/projects/srivatsan-project/locations/us-central1/operations/8525331686798393344